:root {
    --background-color: white;
    --text-color: black;
}

body {
    background-color: #111b21;
    font-family: "Roboto";
    color: var(--text-color);
}

.content {
    display: flex;
    margin-block: 10%;
    margin-inline: 25%;
    flex-direction: column;
    align-items: center;
}

.content h1 {
    background-color: var(--background-color);
    margin: 0;
    padding-inline: 10%;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--text-color);
}

.form {
    background-color: var(--background-color);
    padding: 15px;
    padding-top: 10px;
    width: 100%;
    border: 1px solid var(--text-color);
}

.form h2 {
    position: relative;
    margin: 0;
}

.form button {
    background: #128c7e;
    color: #fff;
    border-radius: 40px;
    padding: 16px 32px;
    border: 1px solid var(--text-color);
}

#conferir_mensagem_content {
    border-radius: 10px 10px 0px 0px;
}

#conferir_mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#enviar_mensagem_content {
    border-radius: 0px 0px 10px 10px;
}

#enviar_mensagem {
    display: none;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.input label {
    font-weight: bold;
}

.input input,
textarea {
    border-radius: 10px;
    padding: 5px;
    border: 2px solid var(--text-color);
    background-color: var(--background-color);
}